img {
  float: right;
  position: top;
}
body {
  background-color: grey;
}
h1,h2,h3 { 
  font-family: Georgia, serif; 
}
table, th, td { 
  border: 1px solid #333; 
}
p {
  text-allign: left;
}
footer {
  position: absolute;
  bottom: 1;
}
