img {
  float: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
body {
  background-color: grey;
}
h1,h2,h3 { 
  font-family: Georgia, serif; 
}
table, th, td { 
  border: 1px solid #333; 
}
