a,a:link{color: #aaa;}
a:visited{color: #aaa;}
a:focus,a:hover{color: #38adda;}
a:active{color: #333;}
breadcrumb li{
    display:inline;
list-style:none;
}
.breadcrumb .current{font-weight: bold;}
.breadcrumb li:after{
	content: " \00bb";
}
.breadcrumb li:last-child:after{
	content:"";
}
