
	
/*Link style order: LoVHAte
------------------------------------ */
a,a:link		{color: #38adda;}
a:visited		{color: #2d8db2;}
a:focus,a:hover	{color: #333333;}
a:active		{color: #911;}

/* Vertical Navigation Styling
------------------------------------ */
