a,a:link		{color: #38adda;}
a:visited		{color: #2d8db2;}
a:focus,a:hover	{color: #333333;}
a:active		{color: #911;}
div[role="main"] .primary {
  width:78.3333333%;
  float:left;
}
nav[role="navigation"] ul {
  	width: 18.3333333%;
  	float: left;
  	list-style: none;
  	padding: 0;
  	margin-top: 0;
  	margin-right: .8333333%;
  	margin-left: .8333333%;
  	border-right: 1px solid #aaa;
}
nav[role="navigation"] ul a {
  	display: block; 
  	padding: 6px 0; 
  	font-weight: bold; 
}
nav[role="navigation"] ul a:focus,
nav[role="navigation"] ul a:hover {
  	background: #ddd;
}
nav[role="navigation"] ul a:active {
  background: #ddd;
}
current a {
  	color: #333;
 	 background: #ddd;
}
