a,a:link {color: #38adda;}
a:visited {color: #2d8db2;}
a:focus,a:hover	{color: #efefef;background:#333;}
a:active {color: #333; background:#F7A236;}
.current a{
	background: #333;
	color: #efefef;
}
nav[role="navigation"] ul {
    	border: 1px solid #ccc;
    	border-width: 1px 0;
    	list-style: none;
   	margin: 0;
padding: 0;
    	text-align: center;
}
nav[role="navigation"] li {
    display: inline;
}
nav[role="navigation"] a {
  	display: inline-block;
  	padding: 0 .625em;
  	line-height: 2.75em;
}
A:active { color: #333; background: #F7A36; }
h1 {
  width: 48.3333333%;   
  float: left;
}
nav[role="navigation"] ul {
  width: 48.3333333%;   
  float: left;
  margin-top: 10px;
}
@media screen and (max-width:43.375em) {
  	h1, nav[role="navigation"] ul {
    		width: auto;
    		float: none;
    		margin-bottom: 5%;
  }
}
@media screen and (max-width: 22.5em) {
  nav[role="navigation"] li a {
    display: block;
    border-bottom: 1px solid #ccc;
  }
}
