body {
font-family: "Lucida Handwriting", cursive; 
font-size: 20px; 
background-color: saddlebrown;
}
div {
  background-color: white;
  width: 600px;
  border: 100px solid saddlebrown;
  padding: 50px;
  margin: 20px;
}
