.container {
	width: 960px;
	margin: 0 auto;	
}
.header {
	width: 460px;
	margin: 0 10px;
	float: left;
}
.navbar {
	width: 460px;
	margin: 0 10px;
	float: left;
}
.primary {
	width: 620px;
	margin: 0 10px;
	float: left;
}
.secondary {
	width: 300px;
	margin: 0 10px;
	float: left;
}
.footer {
	width: 940px;
	margin: 0 10px;
	clear: both;
}
* {
	box-sizing: border-box;
}
.group {
	oveflow: auto;
	width: 100%;
}
.group:after {
	content: "";
	display: table;
	clear: both; 
}
.header {
	width: 47.9166667%;
	margin: 0 1.046667%;
	float: left; 
}
.navbar {
	width: 47.9166667%;
	margin: 0 1.046667%;
	float: left;
}
