.container {
	width: 960px;
	margin: 0 auto;	
}
.header {
	width: 460px;
	margin: 0 10px;
	float: left;
}
.navbar {
	width: 460px;
	margin: 0 10px;
	float: left;
}
.primary {
	width: 460px;
	margin: 0 10px;
	float: left;
}
.secondayr {
	width: 300px;
	margin: 0 10px;
	float: left;
}
