/*
	=LAYOUT 
	 WRITE YOUR CSS RULES BELOW
--------------------------------------*/
@media screen and (max-width: 960px) {
img {
	max-width: 100%
}
.container {
	width:90%;
	point for 960px
}
.header{
	width: 47.9166667%;
	margin: 0 1.0416667;
}
.primary{
	width: 64.5833333%;
	margin: 0 1.0416667%;
        background: lightblue;
}
.secondary {
	width: 31.25%;
	margin: 0 1.0416667%;
	background: lightsalmon;
}
.footer{
	width: 97.9166667%;
	margin: 0 1.0416667%;
	clear: both;
}
}

/* 
	=RESPONSIVE LAYOUT 
--------------------------------------*/
/* for 960 or less*/
/* Bring back our FLUID LAYOUT */

