body { background-color: #cccccc; font-family: Helvetica, Arial, sans-serif; font-size: 1em; background-image: url(../images/big_body); background-repeat: repeat-x; background-position: left top; }
h1,h2,h3,h4,h5,h6 { font-family: Georgia, serif; }
p,li { line-height: 1.25em; }
p>em { font-weight: bold; }
#nav { background-color: #dddddd; }
a { color: #008b14; }
a:link { color: #008b14; }
a:visited { color: #649a00; }
a:hover { color: #00638b; }
a:active { color: #00638b; }
a:focus { color: #00638b; }
table, th, td{ border: 1px solid #333; }
<!-- Delete this. I went back and can't find it in the instructions. Because I helped and I wasn't in front of the monitor, I missed this, so I won't count points off.-->
li {
    font-weight: bold;
}
}   
    box-sizing: border-box;
}
.box{
  padding: 0;
  margin: 0;
}
